---
// juego-libre.astro
import JuegoLibresection from '../components/JuegoLibresection.astro';
import Breadcrumb from '../components/layout/Breadcrumb.astro';
import Layout from '../layouts/Layout.astro';

// Reemplaza estas URLs con las URLs reales de tus imágenes
const imgJuegoLibre = '../assets/activities/juego-libre.png';
const imgHackiit = '../assets/activities/hackiit.png';
const imgRacing = '../assets/activities/racing.png';
const imgVR = '../assets/activities/vr.png';
const imgStands = '../assets/activities/stands.png';
const imgStreaming = '../assets/activities/streaming.png';
const linkTwitch = 'https://www.twitch.tv/ugr_lan_party';

const juegoLibreDescripcion = `Las zonas de Juego Libre estarán habilitadas con el propósito de que los participantes de la ULP puedan acceder libremente, sin turno pre-asignado, para jugar en cualquier momento. Podréis encontrar gran variedad de opciones de juego: Consolas Retro, Playstation, Nintendo Switch, Nintendo Wii, Simulador de Fórmula 1, Gafas VR Meta Quest II, etc.`;
const standsDescripcion = `En distintas zonas del evento estarán representantes de algunas empresas patrocinadoras de la UGR LAN Party, donde ofrecerán información sobre su papel en el sector tecnológico y el de los videojuegos. Los estudiantes podrán consultales sobre oportunidades de trabajo, perfiles en tendencia, tecnologías utilizadas y cualquier inquietud relacionada.`;
const streamingDescripcion = `Se podrá seguir todo el evento en vivo a través del canal oficial de Twitch de la UGR LAN Party, donde se emitirán y comentarán las partidas más emocionantes de las distintas competiciones que se van a llevar a cabo.`;
const hackiitDescripcion = `En colaboración con la asociación de Hackiit, se ha preparado una zona donde se llevarán a cabo retos de Hacking Ético donde se podrá aprender y/o poner en práctica habilidades relacionadas con el hacking ético.`;
const racingDescripcion = `A modo de reto complementario se ha creado una zona donde aquellos que lo deseen podrán utilizar el simulador de carreras. Se anotará la marca de tiempo que hacen y al final de la LAN Party se anunciará la mejor marca y al ganador del reto. Este obtendrá una plaza en el campeonato regional de Racing de Granada y alguna sorpresa adicional.`;
const vrDescripcion = `Se habilitará una zona de VR donde los asistentes podrán probar las gafas inmersivas de realidad virtual Meta Quest II y disfrutar de distintos juegos. En cualquier momento será posible pedir ayuda a los organizadores en caso de no conocer el funcionamiento de las mismas.`;

---

<Layout>
    <Breadcrumb>
      <Fragment slot="title">Actividades</Fragment>
      <Fragment slot="texto">Descubre todas las actividades disponibles en la zona de Juego Libre.</Fragment>
    </Breadcrumb>
  
    <div class="space-y-4 md:space-y-8 p-4 md:p-8">
      <JuegoLibresection titulo="Juego Libre" descripcion={juegoLibreDescripcion} imgPath={imgJuegoLibre} imgClass="rounded-lg shadow-lg" textClass="text-lg font-semibold text-gray-800" />

      <JuegoLibresection titulo="Simulador de Racing" descripcion={racingDescripcion} imgPath={imgRacing} imgClass="rounded-lg shadow-lg" textClass="text-lg font-semibold text-gray-800" />

      <JuegoLibresection titulo="Realidad Virtual" descripcion={vrDescripcion} imgPath={imgVR} imgClass="rounded-lg shadow-lg" textClass="text-lg font-semibold text-gray-800" />

      <JuegoLibresection titulo="Reto Hacking Ético" descripcion={hackiitDescripcion} imgPath={imgHackiit} />

      <JuegoLibresection titulo="Streaming" descripcion={streamingDescripcion} imgPath={imgStreaming} link={linkTwitch} linkClass="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" />
    
      <JuegoLibresection titulo="Stands" descripcion={standsDescripcion} />
    </div>
  </Layout>
  