---
const anteriores = [
  {
    title: "Primera edición (2015/2016)",
    link: "http://lanpartypiloto.wixsite.com/lpp-etsiit",
    path: "/assets/anteriores/logo1.png",
  },
  {
    title: "Segunda edición (2016/2017)",
    link:"https://ulp.ugr.es/201617",
    path: "/assets/anteriores/logo2.png",
  },
  {
    title: "Tercera edición (2017/2018)",
    link:"http://ulp.ugr.es/201718",
    path: "/assets/anteriores/logo3.png",
  },
  {
    title: "Cuarta edición (2018/2019)",
    link:"https://ulp.ugr.es/201819",
    path: "/assets/anteriores/logo3.png",
  },
  {
    title: "Quinta edición (2022/2023)",
    link:"https://deiit.ugr.es/informacion/organizacion/lan_party_23",
    path: "/assets/anteriores/logo5.jpg",
  },
]
---

<!-- ====== Ediciones Anteriores Section Start -->
<section class="relative z-20 overflow-hidden bg-white dark:bg-dark pt-20 pb-8 lg:pt-[120px] lg:pb-[50px]">
    <div class="container mx-auto">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2">
                {
                    anteriores.map((item, index) => {
                        if (index % 2 == 0) {
                            return (
                                <div class="wow fadeInUp mb-12 flex lg:mb-[70px]" style="padding: 3rem" data-wow-delay=".1s">
                                    <div class="mx-auto">
                                        <a href={item.link}>
                                        <div class="w-full">
                                            <h3 class="mb-6 text-xl font-semibold text-dark dark:text-white sm:text-2xl lg:text-xl xl:text-2xl">
                                                {item.title}
                                            </h3>
                                        </div>
                                        <img src={item.path} alt="logo de edición anterior" class="object-cover object-center mx-auto h-[300px]" />
                                        </a>
                                    </div>
                                </div>
                            )
                        }
                    })
                }
            </div>

            <div class="w-full px-4 lg:w-1/2">
                {
                    anteriores.map((item, index) => {
                        if (index % 2 !== 0) {
                            return (
                                <div class="wow fadeInUp mb-12 flex lg:mb-[70px]" style="padding: 3rem" data-wow-delay=".1s">
                                    <div class="mx-auto">
                                        <a href={item.link}>
                                        <div class="w-full">
                                            <h3 class="mb-6 text-xl font-semibold text-dark dark:text-white sm:text-2xl lg:text-xl xl:text-2xl">
                                                {item.title}
                                            </h3>
                                        </div>
                                        <img src={item.path} alt="logo de edición anterior" class="object-cover object-center mx-auto h-[300px]" />
                                        </a>
                                    </div>
                                </div>
                            )
                        }
                    })
                }
            </div>
        </div>
    </div>

</section>
<!-- ====== Ediciones Anteriores Section End -->